<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortHouse</title>
</head>
<body>
    <h1>Porthouse Atrium</h1>
    <p>Your porthouse instance is ready to go.</p>
    <p>To access the instance information, supply the console key:</p>
    <div>
        <input type="text">
    </div>
    <h2>Connect</h2>
    <p>Connect to this instance through the websocket url:</p>
    <div>
        <!-- here we have a nice button and example toy. -->
        <pre>
            ws://here:port
        </pre>
        <a>Connect</a>
    </div>

    <div>
        <p> ... More stuff.</p>
    </div>
    <script src="static/js/index.js"></script>
</body>
</html>